# InstantDB Configuration
NEXT_PUBLIC_INSTANT_APP_ID=24d042bd-59e7-47d0-b5d3-41ec418b12b0
INSTANT_APP_ADMIN_TOKEN=c96e6f37-0514-45fb-a4f5-57f36503e359

# Google Gemini API (for text & image generation)
GEMINI_API_KEY=AIzaSyDBDEfQAxLJw_bFQAGJpZ1DM-e-_u8HtnE